<template lang="mustache">
  <div class="spy-roc-ath__container min-vh-100 pa4" ref="container">
    <div class="spy-roc-ath__metadata-1">
      <div class="fw8 f5 tracked">SPY ROC ATH</div>
      <div class="spy-roc-ath__roc f1 tracked mt3">{{animatedRoc}}%</div>
      <div class="f7 mt3">
        <span class="spy-roc-ath__live" v-if="marketStatusName === 'Open'">&#9679;</span>
        <span class="spy-roc-ath__nonlive" v-else>&#10074;&#10074;</span>
        <span class="tracked">{{computedMarketMessage}}</span>
      </div>
    </div>
    <div class="ticker-graph">
      <svg class="ticker-graph__viewport" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 0 0" preserveAspectRatio="xMidYMid meet">
        <defs>
          <clipPath id="ticker-graph__clip">
            <rect class="ticker-graph__bounds" />
          </clipPath>
        </defs>
        <g class="ticker-graph__graphic" clip-path="url(#ticker-graph__clip)"></g>
      </svg>
    </div>
    <div class="spy-roc-ath__metadata-2">
      <div>
        <div class="fw8 f5 tracked">LAST PRICE</div>
        <div class="spy-roc-ath__last f1 tracked mt3">{{animatedLastPrice}}</div>
        <div class="f7 mt3">{{computedLastTime}}</div>
        <div class="f7 mt3"><a class="link dim spy-roc-ath__link" href="https://iextrading.com/developer">IEX Real-Time Price</a></div>
      </div>
      <div>
        <div class="fw8 f5 tracked">ALL TIME HIGH</div>
        <div class="spy-roc-ath__ath f1 tracked mt3">{{animatedAthPrice}}</div>
        <div class="f7 mt3">{{computedAthTime}}</div>
      </div>
      <div>
        <div class="fw8 f5 tracked">MARKET IS {{computedMarketStatusName}}</div>
        <div class="f1 tracked mt3">{{computedNewYorkTime}}</div>
        <div class="f7 mt3">{{computedMarketStatusTime}}</div>
      </div>
    </div>
    <div class="spy-roc-ath__articles-list">
      <transition-group name="spy-roc-ath__articles">
        <div v-for="article in articles" v-bind:key="article.url" class="spy-roc-ath__articles-item mb5">
          <div class="fw2 tr f7 mb2">{{formatMomentLong(article.time)}}</div>
          <div class="mb2 lh-copy"><a target="_blank" v-bind:href="article.url" class="link dim spy-roc-ath__link">{{article.header}}</a></div>
          <div class="fw8 f7 tracked">{{article.source}}</div>
        </div>
      </transition-group>
    </div>
  </div>
</template>

<style lang="css" module>
@import url('~tachyons/css/tachyons.min.css');

.spy-roc-ath__container {
  --white: #cfcfcf;
  --black: #141414;
  --red: #ff5a5a;
  --green: #adff5a;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.spy-roc-ath__link {
  color: var(--white);
}
.spy-roc-ath__live {
  vertical-align: 0px;
  color: var(--red);
  animation: blinker 1s linear infinite;
}
.spy-roc-ath__nonlive {
  vertical-align: 1px;
}
.spy-roc-ath__articles-item {
  transition: all 1s;
}
.spy-roc-ath__articles-enter, .spy-roc-ath__articles-leave-to {
  opacity: 0;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*
 * Graph styling.
 */
.ticker-graph__viewport {
  height: 100%;
  width: 100%;
}
.ticker-graph__graphic {
  margin: 1rem;
}
.ticker-graph__path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
}
/*
 * Media-specific styling.
 */
.spy-roc-ath__metadata-1 {
  grid-area: mt1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spy-roc-ath__metadata-2 {
  grid-area: mt2;
}
.ticker-graph {
  grid-area: gph;
}
.spy-roc-ath__articles-list {
  grid-area: art;
}
@media (max-width: 749px) {
  .spy-roc-ath__metadata-2 {
    display: grid;
    grid-row-gap: 4rem;
  }
  .spy-roc-ath__metadata-2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .spy-roc-ath__container {
    display: grid;
    grid-row-gap: 4rem;
    grid-template: "mt1" auto
                   "gph" 33vh
                   "mt2" auto
                   "art" auto / 1fr;
  }
}
@media (min-width: 750px) and (max-width: 1199px) {
  .spy-roc-ath__metadata-2 {
    display: flex;
    justify-content: space-between;
  }
  .spy-roc-ath__metadata-2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }
  .spy-roc-ath__container {
    display: grid;
    grid-row-gap: 4rem;
    grid-template: "mt1 mt1 mt1" auto
                   "gph gph gph" 33vh
                   "mt2 mt2 mt2" auto
                   "  . art   ." auto / 1fr 2fr 1fr;
  }
}
@media (min-width: 1200px) {
  .spy-roc-ath__metadata-2 {
    display: flex;
    justify-content: space-between;
  }
  .spy-roc-ath__metadata-2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
  }
  .spy-roc-ath__container {
    display: grid;
    grid-row-gap: 4rem;
    grid-column-gap: 4rem;
    grid-template: "mt1 mt1 art" auto
                   "gph gph art" 33vh
                   "mt2 mt2 art" auto
                   "  .   . art" auto / 1fr 1fr 1fr;
  }
  .spy-roc-ath__articles-list {
    max-height: 90vh;
    overflow-y: auto;
  }
}
</style>

<script src="./spy-roc-ath.js"></script>
